*{
  background-color:#180d26;
  color:#dfe09d;
  margin: 0px auto;
}

h2 {
  text-align: center;
  margin: 15px 0px 2px;
}

p {
  padding: 5px 0px 15px;
}

#main-heading {
  font-size: 50px;
  font-style: bold;
}

#main-container {
  padding: 0 15%;
}

#header {
  text-align: middle;
  min-height: 100px;
}

.enemyimg {
  border:solid;
  border-color:#dfe09d;
}

#content-div {

  font-family: 'Quantico', sans-serif;
}

.content {
  font-family: 'Quantico', sans-serif;
}

.item {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  height: 64px;
  width: 64px;
}
.inline{
  display: inline-block;
}

#current-stats {
}

#back-to-main-page {
  position: fixed;
  top: 20px;
  left: 20px;
}

#footer {
  height:150px;
}

.raise:hover, .raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border-color: var(--hover);
  color: var(--color);
  transition: 0.25s;
}

.raise {
  --color: #dfe09d;;
  --hover: #e5ff60;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em 1em;
}