#main-container{
  margin:0 auto;
  text-align: center;
}

#newPersonSubmissionContainer{
  display:none;
  /*background-color: red;*/
}

#newPersonName{
  min-width: 80px;
}

.haterstally{
  min-width: 90px;
  text-align: right;
}
.votehate{
  max-width: 30px;
  font-size: 11px;
  padding:2px;
}

#hatelist{
  padding-top: 25px;
  margin:0 auto;
  text-align: left;
}
#hatelist th{
  text-align: center;
 border-bottom: 1px solid #ddd;
}
#hatelist td{
  padding:4px;
   border-bottom: 1px solid #ddd;
}
#hatelist tr{
  border: 1px solid red;
}


#discussionBody{
  margin:20px;
}

#commentEntryOverlay{
  display:none;
  z-index: 3;
  top:20%;
  left:40%;
  position:fixed;
  min-width: 600px;
  min-height: 400px;
}
#commentTextInput{
  min-height: 360px;
  min-width: 400px;
}
.commentDiv{
  display:inline;
max-height: 250px;

}
.commentVotingDiv{
  float:left;
  display:block;
  margin-right:10px;
}
.content{
  text-align: left;
  min-height: 100%;
  max-height: 250px;
  max-width: 400px;
  margin:10px;
  overflow: auto;
}

#personHatersDiscussion{

}
#personNameDiscussion{
  text-align: center;
}
.flex-grid {
  display: flex;
  text-align: center;
}
.col {
  flex: 1;
}
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}







#main-heading {
  font-size: 50px;
  font-style: bold;
}

#main-container {
  padding: 0 15%;
}

#header {
  text-align: middle;
  min-height: 100px;
}

.contentAbout{
  text-align: left;


  margin:10px;
}

#back-to-main-page {
  position: fixed;
  top: 20px;
  left: 20px;
}
h2 {
  text-align: center;
  margin: 15px 0px 2px;
}


#footer {
  height:150px;
}




/*#001011 very deep greenish
#5bd9e6 teal
#1A535C slate grey/blue
#4ECDC4 green teal
#4B3B40 purple*/
body {
  margin: 0;
  background-color:var(--main-background);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  --main-background: #001011;    
  --primary-color: #5bd9e6;
  --secondary-color: #1A535c;
  --tertiary-color: #4ECDC4;
  --tentative-color: #4B3B40;
}

/* cool buttons */
  .fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .pulse:hover, .pulse:focus {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  }
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 var(--hover);
    }
  }
  .close:hover, .close:focus {
    box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
  }
  .raise:hover, .raise:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
  }
  .up:hover, .up:focus {
    color:#5BD9E6;
    /*box-shadow: inset 0 -3.25em 0 0 var(--hover);*/
  }
  .slide:hover, .slide:focus {
    box-shadow: inset 6.5em 0 0 0 var(--hover);
  }
  .offset {
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
  }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
  }
  .fill {
    --color: #a972cb;
    --hover: #cb72aa;
    font-family: 'Quantico';
  }
  .pulse {
    --color: #5bd9e6;
    --hover: #4b09a6;
    font-family: 'Quantico';
  }
  .close {
    --color: #ff7f82;
    --hover: #ffdc7f;
  }
  .raise {
    --color: #ffa260;
    --hover: #e5ff60;
  }
  .up {
    --color: #e4cb58;
    --hover: #94e458;
    font-family: 'Quantico';
  }
  .slide {
    --color: #8fc866;
    --hover: #66c887;
  }
  .offset {
    --color: #19bc8b;
    --hover: #1973bc;
  }
  button {
    color: var(--primary-color);
    transition: 0.3s;   
  }
  button:hover, button:focus {
    cursor:pointer;
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);    

  }

  button {
    background: none;
    border: 1px solid;        
    padding: 8px 12px;    
  }

/* general */
  @font-face {  
    font-family: 'labelfont';
    src: url(/images/fonts/labelfont.ttf) format('truetype');
    font-family: 'notoemoji';
    src: url(/images/fonts/notoemoji.ttf) format('truetype');
    font-family: 'notomono';
    src: url(/images/fonts/notomono.ttf) format('truetype');   
  }
  .fontPreload{    position:absolute;    left:-100px;}
  body {
    height:100vh;
  }
  a {
    color:#4ECDC4;
  }
  a.block-link {
    text-decoration: none !important;
    font-weight:bold;
    color: #fff;
    margin-top: 6px;
  }
  #nomad-gif {
    z-index:10;
    display:block;
    position:fixed;
    top:30vh;
    left:30vh;
  }
  .hazy-box-shadow {
    border:none;
    box-shadow: 0px 0px 4px var(--primary-color);
  }
  .grid-container {
    display:none;
    height:100vh; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 1fr;
    grid-gap:10px;
    margin: 0px 10px 0px 10px;
  }
  #open-menu-button {
    display: none;
  }
  #open-tutorial {
    display: none;
  }
  .hide {
    display: none;
  }
  #tutorial-overlay {
    position: fixed;
    left: 25vw;
    top: 130px;
    display: none;
    /*width: 30vw;*/
    min-width: 330px;
    /*height: 70vh;*/
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
  }
  /*   .fancy-checkbox:after{
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
  #missions {
    list-style: none;
  }*/

/* intro, login, register */
  #title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;    
    font-size: 50px;
  }
  #sub-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
  }
  #intro-div {    
    margin: auto;
    padding:16px;
  }
  #how-to-play-infographic {
    text-align: center; 
  }
  #how-to-play-infographic h2 {
    padding-bottom:8px;
  }
  .info-graphics {    
    padding: 3px;
    margin: 5px;
    width: 30%;
    max-height:250px;
    max-width: 250px;
  }
  #login-register {    
    padding: 32px;
    text-align: center;
  }
  #login-register-container {

    margin:auto;
  }
  @media only screen and (max-device-width: 480px) {
    .introbuttons {
      min-width: 200px;
      min-height: 70px;
      font-size: 30px;
    }
  }.introbuttons{
  }
  #username {
    background-color: #333333;
    color: #CCCCCC;
  }
  #password {
    background-color: #333333;
    color: #CCCCCC;
  }
  #register-form {
    padding:10px;
  }
  #register-div {
    z-index: 3;
    position: absolute;
    display: none;
    margin: auto;
    top: 33vh;
    left: 39vw;
    width: 10vw;
    min-width: 210px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  #login-form {
    padding:10px;
  }
  #login-div {
    z-index: 3;
    position: absolute;
    display: none;
    background-color: #310A31;
    margin: auto;
    top: 33vh;
    left: 39vw;
    width: 10vw;
    min-width: 210px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  #intro-container {
  }
  #pd-name-container {
    position: fixed;
    z-index: 5;
    left: 20px;
    bottom: 20px;
    float: left;
    margin-top:2vh;
    background-color: rgba(0, 0, 0, 0);  
  }
  #pocket-dimension-name {
    background-color: rgba(0, 0, 0, 0);
  }
  #additional-buttons {
    position: fixed;
    z-index: 5;
    right: 20px;
    bottom: 20px;
    float: right;
    margin-top:2vh;
    background-color: rgba(0, 0, 0, 0);
  }


/*START: top toolbar*/
  .top-toolbar {  

    grid-row: 1;
  }
  #extra-mv-container {
    display:flex;
  }
  #mv{    
    text-align: center;    
    margin: auto;
    padding: 6px;
    font-size: 24px;    
    overflow: hidden;
    letter-spacing:3px;
  }
  .button-container {
    background:rgba(15,133,121,0.3);
    margin-top: 4px;
    border-radius:4px;
    text-align: center;
    width:25%;
    padding:4px;
  }
  .button {
    border:none;
    box-shadow:0px 0px 3px #6d1717;
    padding:4px;
    transition: 0.3s background;
  }
  .button:hover {

    background:#6d1717;
  }
  .button:active {

    background:#b53232;
  }
  .input-container {
    grid-column:2 /4;    
    display:flex;
    align-items:center;
  }
  .input-container .button {

    margin-top:4px;
  }
  /* Getting hit red flash */
  @-webkit-keyframes demo {
      0% {
          background-color: transparent;
          opacity:1;
      }
      50% {
          background-color: red;
      }
      100% {
          background-color: transparent;
      }
  }
  .active {
    -webkit-animation-name: demo;
      -webkit-animation-duration: 1000ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
    -moz-animation-name: demo;
      -moz-animation-duration: 500ms;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: linear;
  }
  #inventory {
    display: flex;
    align-items:center;    
    justify-content: space-around;
  }
  #inventory_table {    
    text-align: center;
    display:grid;
    grid-gap:6px;
    grid-template-columns: repeat(5, 32px);
  }

  #inventory_table .inventory-hotbar-item {
    border: 1px solid var(--primary-color);
    min-width:32px;
    min-height:32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-device-width: 480px) {
    #inventory_table td {
      min-width: 64px;
      min-height: 64px;
    }
  }
  #inventory_table td {
    border: solid;
    border-width: 1px;
    border-color: #F4ECD6;
    width: 20px;
    height: 20px;
  } 
  td img {
    width:24px;
    height:24px;
    position: center;
    margin:auto;
  }
  .item_selected {
    border-style: dotted;
    border-width: 1px;
    border-color: #A7CAB1;
  }
  .item {
      image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
    min-width:32px;
    min-height:32px;
  }
  #message-overlay {
    position: absolute;
    color: #dfe09d;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
    cursor: pointer;    
    font-size: 14px;
    max-width:400px;
    border-radius:5px;
  }
/*END: top toolbar*/

/* The game ui renders over the entire screen */

/* MENU SCREEN */
  #menu-overlay {
    display:none;
    background-color:var(--tentative-color);
    border:solid;
    border-width:1px;
    border-color:var(--tertiary-color);
    padding:8px;
  }
  #menu-overlay.menu-rendered {
    z-index: 5;       
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    display:flex;
    flex-flow:row;
    position:relative;
    top:-200px;
    justify-content: center;
    align-items: flex-start;    
  }

  @media only screen and (max-device-width: 480px) {
    .tab-selectors {
      display:flex;
      justify-content: space-between;
      padding-bottom:8px;
      font-size:20px;
      min-width: 50px;
      min-height: 100px;
    }
  }
  .tab-selectors {
    display:flex;
    justify-content: space-between;
    padding-bottom:8px;
  }
  .active-tab {
    background: var(--secondary-color);
  }
  .tabs-container {
    display: flex;
    justify-content: center;
    align-items:center;
    min-width:370px;
  }  
  /* Do not display tab content by default */
  @media only screen and (max-device-width: 480px) {
    .tab-content {
      max-width:540px !important;
      min-width:540px !important;
      display: none;
    }
  }
  .tab-content {
    max-width:370px;
    min-width:370px;
    display: none;    
  }


/* menu inventory */  
  #UserInventory .active { 
    background: #fff;
    z-index: 100;
    margin: 0 auto;
    width:14.5em;
    padding: 10px;
    text-align: center;    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  }

  #UserInventory .user-inventory-boxes{
    display:grid;
    grid-gap:4px;
    grid-template-columns: repeat(10, 32px);
  }
  @media only screen and (max-device-width: 480px) {
    #UserInventory .inventory-item {
      width:50px !important;
      height:50px !important;
    }
    #UserInventory .user-inventory-boxes{
      grid-template-columns: repeat(10, 50px);
    }
    .item{
      min-width:48px !important;
      height:48px !important;
    }
  }
  #UserInventory .inventory-item {
    min-width:32px;
    min-height:32px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:1px solid var(--primary-color);
    transition: background 0.3s;
  }

  #UserInventory .inventory-item:hover {
    background: var(--secondary-color);
    cursor:pointer;
  }
  
  #UserInventory .net-surfboard-context-menu {
    width:200px;
    height:145px;
    margin-top:4px;
  }


/* menu memes data */
  #Memes {    
  }
  #memeWrapper {
    max-height: 300px;
    display:block;
    width:100%; 
    overflow-y:scroll; 
  }
  .memeListEntry {
    border: 1px solid;
    margin:9px 3px 9px 3px;
  }
  .memeDataHeader {
    padding-left:3px;
    font-size: 11px;
  }
  .memeDataHeader>b {
    padding-right: 10px;
    font-size: 11px;
  }
  .memeDataContent {
    border: 1px solid;
    padding: 3px;
  }

  /* menu shop */
  #shop-wrapper{
    max-height: 300px;
    display:block;
    width:100%; 
    overflow-y:scroll; 
  }
  .buy-button{
    float:right;
  }

  /* menu profile data */
  #Profile {
    position: fixed;
    top:100px;  
  }
  #profileWrapper {
    height:100%;
    display:block;
    width:100%; 
    overflow-y:scroll; 
  }

  /* menu options */
  #sound-option {

  }
  #press-any-key {
    display: none;
  }


/*START: game/canvas relevant*/
  #game {    
    width:100%;
    grid-column:1 / 4;
    grid-row: 2 / 8;
    z-index: 1;
    position: relative;
    cursor: crosshair;
  }
  .identicon {
    position: fixed;
    z-index: 100;
  }
  .figure { 
    width: 300px; 
        display:block;
      margin:auto;
    background: white;
    border: 5px solid white; 
    -webkit-box-shadow: 0 3px 10px #ccc; 
    -moz-box-shadow: 0 3px 10px #ccc;
    -webkit-transform: rotate(0deg); 
    -moz-transform: rotate(0deg);
    -webkit-transition: all 0.7s ease; 
    -moz-transition: all 1s ease;
    position: relative;
  }
  .figure img { 
    /* Scale down */
    width: 100%;
  }
  .figure:hover {
    -webkit-transform: rotate(-1deg); -moz-transform: rotate(1deg);
    -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
  }
  .figure:focus {
    outline: none;
    -webkit-transform: rotate(0deg) scale(3.7); -moz-transform: rotate(0deg) scale(3.7);
     -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;
    z-index: 9999;
  }
  #password-protected-verse-overlay {
    display:none;
    position:absolute;
    z-index:2;
  }
  #verse-password{
        background-color: #333333;
    color: #CCCCCC;
  }
  #verse-password-warning {
    display:none;
  }
  #new-room-password-overlay{
    position:absolute;
    top:60%;
    left:40%;
    width: 200px;
    height: 50px;
    background-color: blue;
    display: none;
    z-index: 3;
  }
  #nomad-youtube-iframe{
    z-index:10;
    display:none;
    position:relative;
    top:0px;
    left:0px;
  }
  @media only screen and (max-device-width: 480px) {
    .x-box {
      min-width: 60px !important;
      min-height: 60px !important;
    }
  }
  .x-box {
    cursor: pointer;
    border:solid;
    border-width:1px;
    border-color:#dfe09d;
    position: relative;
    right: 10px;
    top: 10px;
    color:#dfe09d;
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    float: right;
    padding:4px;
  }
  .x-box:hover {
    background-color:gray;
  }
  #no-keyboard-buttons{
    width:60px !important;
    max-width: 60px !important;
    display:inline-block !important;
  }
  @media only screen and (max-device-width: 480px) {
    #use-item {
      min-height: 100px;
      width:100px !important;
      max-width: 100px !important;
      font-size: 30px;
      background-color:var(--secondary-color);
      border-color: var(--tertiary-color);
      display: block !important;
      position:fixed;
      right:0px;
      bottom:30vh;

    }
  }
  #use-item{
    display:none;
  }  
/*END: game/canvas relevant*/


/* text, url, and reply entry overlay */
  #comment-entry-overlay {
    position: fixed;
    left: 25vw;
    top: 130px;
    display: none;
    /*width: 30vw;*/
    min-width: 330px;
    /*height: 70vh;*/
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
  }
  #commentcontainer {
    margin: auto;
    position: block;
    width: 90%;
    min-width: 350px;
    height: 90%;
    padding: 30px 20px 20px 20px;
  }
  #comment-entry-overlay-input-box {
    background-color: #333;
    margin: 0;
    margin-top: 4px;
    min-height: 200px;
    height:200px;
    max-height: 400px;
    min-width: 200px;
    width:370px;
    max-width: 1000px;
    color: #ccc;
    /*min-width: 400px;*/
  }
  @media only screen and (max-device-width: 480px){
    #submit-meme-button {
      min-height:50px;
      min-width:100px;
    }
    #comment-entry-overlay-input-box {
      font-size: 20px;
    }
  }
  #initial-mv {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #222;
    color:#ccc;
    width:40px;
  }


/* comment reading overlay */
  @media only screen and (max-device-width: 480px) {
    #comment-reading-overlay {
      position: absolute;
      display: none;
      width: 80%;
      height: 80%;
      top: 12% !important;
      left: 12% !important;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
      cursor: text;
      border-style: solid;
      border-width: 1px;
      border-color: #5bd9e6;
      padding:4px;
    }
    #comment-reading-overlay.minified {
      max-width: 300px;
      max-height: 260px;
      font-size: 30px !important;
    }
    #comment-reading-overlay.maxified {
      background-color: rgba(0,0,0,0.8);
      width: 80%;
      height: 80%;
      min-width: none;
      min-height:none;
    }
  }

  #comment-reading-overlay {
    position: absolute;
    display: none;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: text;
    border-style: solid;
    border-width: 1px;
    border-color: #5bd9e6;
    padding:4px;
  }
  #comment-reading-overlay.minified {
      max-width: 300px;
      max-height: 260px;
  }
  #comment-reading-overlay.maxified {
    background-color: rgba(0,0,0,0.8);
    width: 80%;
    height: 80%;
    min-width: none;
    min-height:none;
  }
  #comment-header {
    background-color: rgba(0,0,0,0.5);
    display:flex;
  }
  #comment-mv {
    background-color: rgba(0,0,0,0.5);
    border-width: 1px;
    border:blue;
  }
  #comment-time {
    background-color: rgba(0,0,0,0.5);
    padding-left:50px;
    border-width: 1px;
    border:#5bd9e6;
  }
  #comment-divider {
    background-color: rgba(0,0,0,0.5);
    margin:2px 0px 2px;
  }
  @media only screen and (max-device-width: 480px) {
    #comment {
      font-size: 30px !important;
    }
    #comment.minified {
      max-width: 500px !important;
      max-height: 400px !important;
    }
    #comment.maxified {
      padding-left:2%;
      padding-right:2%;
      width: 90%;
      height:86%;
      white-space: pre-line; 
      overflow-y: scroll;
    }
  }
 #comment {
    position: absolute;
    padding-top: 2%;
    padding-left:4px;
    font-size: 20px;
    color: #dfe09d;
    white-space: pre-wrap;
  }
  #comment.minified {
    max-width: 300px;
    max-height: 200px;
    white-space: pre-line; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  #comment.maxified {
    padding-left:2%;
    padding-right:2%;
    width: 90%;
    height:86%;
    white-space: pre-line; 
    overflow-y: scroll;
  }


/* edit overlay */
  #edit-overlay {
    position: fixed;
    left: 30vw;
    top: 30vh;
    display: none;
    min-width:440px;
    min-height: 240px;
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    cursor: pointer;
    border-radius: 5px;
  }
  #edit-container {
    position: inline-block;
    width: 95%;
    height: 95%;
  }
  #edit-overlay-input-box {
    background-color: #333333;
    color: #CCCCCC;
    margin: auto;
    resize:both;
    min-height: 200px;
    min-width: 300px;
  }
  #submit-edit-button {
  }


/* shunter overlay */
    #shunter-overlay {
      position: fixed;
      left: 30vw;
      top: 40vh;
      display: none;
      min-width: 150px;
      padding: 20px;
      background-color: rgba(0,0,0,0.5);
      z-index: 5;
      cursor: pointer;
      border-radius: 5px;
    }
    #shunter-container {
      margin-top: 10px;
      position: inline-block;
      left:0px !important;
      width: 95%;
    }
    #shunter-row {
      text-align:center;
    }
    .submit-shunter-button {
      cursor: pointer;
    }


/* for verse creation */
  #verse-creation-overlay {
    position: fixed;
    left: 20vw;
    top: 130px;
    display: none;
    min-width: 500px;
    /*width: 700px;*/
    padding: 20px;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;
  }
  #verse-creation-container {
    display:flex;
   /* background-color:#CCCCCC;*/
  }
  #verse-name {
    min-width: 180px;
    padding:5px;
    background-color: #333333;
    color: #CCCCCC;
  }
  #verse-settings-password {
    min-width: 180px;
    padding:5px;
    background-color: #333333;
    color: #CCCCCC;
  }
  #verse-summary {
    min-height: 200px;
    min-width: 180px;
    margin-top:5px;
    margin-right:5px;
    padding:5px;
    resize:both;
    background-color: #333333;
    color: #CCCCCC;
  }
  #custom-verse-creation-stuff {
    flex: 1;
    display:block;
  }
  #verse-settings {
    flex: 1;
    display:block;
    margin-top: 40px;
  }
  #submit-verse-button {
  }
   /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 11.33px;
  }
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 8.67px;
    width: 8.67px;
    left: 1.33px;
    bottom: 1.33px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {

    background-color: #2196F3;
  }
  input:focus + .slider {

    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(8.67px);
    -ms-transform: translateX(8.67px);
    transform: translateX(8.67px);
  }
  /* Rounded sliders */
  .slider.round {

    border-radius: 34px;
  }
  .slider.round:before {

    border-radius: 50%;
  } 
  .not-functional-verse-setting {
    background-color: red;
  }


/* for portalgun overlay */
  #portalgun-overlay{
    display: none;
    z-index: 5;
    position: fixed;
    left: 25vw;
    top: 130px;
    min-width: 380px;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  #new-portal-roomname{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #222;
    color:#ccc;
  }
  #new-portal-x{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #222;
    color:#ccc;
    width:60px; 
  }
  #new-portal-y{
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    background-color: #222;
    color:#ccc;
    width:60px; 
  }


/* for context menu */
  .custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #4ECDC4;
    color:#4ECDC4;
    white-space: nowrap;
    font-family: sans-serif;
    background: #001011;
    list-style:none;
    list-style-position:inside;
    margin:0;
    padding:0;
  }
  .custom-menu li:hover {
    /*background-color: rgba(84, 85, 86, 0.7);
    background-color: rgba(91, 217, 230, 0.9);*/
    background-color: #1A535C; 
  }
  .custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
  }
  #editObtained{
    display: none;
  }
  #memereaperObtained{
    display: none;
  }
  #labelObtained{
    display: none;
  }
  #accountObtained{
    display: none;
  }

/* imageupload textarea */  
  #chatinput {
    background-color: #333333;
    color: #CCCCCC;
    padding:4px;
    width:100%;   
    resize:none;
  }
 
  .container-drop {
    min-height: 50px;    
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    position: relative;
    
  }
  .container-drop::-moz-selection {
    background-color: gray;
  }
  .container-drop::selection {
    background-color: gray;
  }
  .container-drop.drop-active {
    border: dashed 2px #ccc;
    background: #efefef;
  }
  .container-drop:before {
    content: '\f019';
    position: absolute;
    top: 50%;
    left: 50%;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    
    width: 80px;
    height: 80px;
    font-size: 80px;
    line-height: 80px;
    color: #ccc;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    z-index: 1;
  }
  .container-drop.drop-active:before {

    color: #aaa;
  }
  .container-drop img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
  }



  /* CONTEXT MENU  */
