#register-div {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
}
#register-form {
  border: 1px solid #5BD2BD;
  width:400px;
  padding: 32px;
}
.form-title {  
  font-size:1.8em;
  margin-left:-2px;
}
.form-grouping {
  margin:8px 0px;  
}
.form-grouping > * {
  display:block;
}
.form-grouping input {
  width: 100%;
}

.form-label {
  font-weight:bold;
  margin-bottom:2px;
}

.form-input {
  border:none;
  box-shadow: 0px 0px 2px #5BD2BD;
  padding:4px;  
}
.form-input:valid:focus {
  box-shadow: 0px 0px 2px green;
}
.form-input:invalid:focus {
  box-shadow: 0px 0px 2px red;
}
.form-input.inlined, .form-label.inlined {
  width:auto;
  display:inline;
}
.helper-label {
  color:red;
  display:none;
}